{{define "Footer"}}
<footer id="footer">
 <div class="content has-text-centered footer_text">
		<div class="row">&#8226; David PETIT
			<a class="git_logo" href="https://github.com/Debzou"><i class="fab fa-github"></i></a>
		</div>   
 </div>
</footer>
{{end}}